<ion-content
  class="login-page"
  [fullscreen]="true"
  [scrollY]="true"
>

  <div class="page-wrapper">

    <!-- ================= TOP / BRAND SECTION ================= -->
    <div class="top-wrapper">

      <!-- LOGO -->
      <div class="brand-container">
 <img
      src="assets/images/super-assist-logo.png"
      alt="Super Assist"
      class="brand-logo"
    >
  </div>


      <!-- PAGE TITLE -->
      <h1 class="title">
        Welcome Back
      </h1>

      <!-- SUBTITLE -->
      <p class="subtitle">
        Access your enterprise dashboard<br>
        to continue.
      </p>

    </div>


    <!-- ================= LOGIN CARD ================= -->
    <div class="form-wrapper">

      <!-- EMAIL -->
      <div class="field">

        <label>
          Email Address
        </label>

        <div class="input-wrapper">

          <img src="assets/images/mail.png" alt="Swap Task" class="ture-icon-img" />
          <ion-input
            type="email"
            placeholder="name@company.com"
            [(ngModel)]="login_data.username">
          </ion-input>

        </div>

      </div>


      <!-- PASSWORD -->
      <div class="field password-field">

        <label>
          Password
        </label>

        <div class="input-wrapper password-wrapper">

          <img src="assets/images/lock.png" alt="Swap Task" class="ture-icon-img" />

          <ion-input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="••••••••"
            [(ngModel)]="login_data.password">
          </ion-input>

         

<ion-icon
  slot="end"
  [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
  class="password-eye"
  (click)="togglePassword()"
  style="font-size: 32px !important; width: 20px; height: 18px;">
</ion-icon> 

   </div>

      </div>


      <!-- FORGOT PASSWORD -->
      <div class="row">

        <div
          class="forgot"
          (click)="onForgotPassword()">

          Forgot password?

        </div>

      </div>


      <!-- LOGIN BUTTON -->
      <div
        class="login-btn"
        (click)="onLogin()">

        <span>
          Log in to your account
        </span>

        <ion-icon
          name="arrow-forward-outline">
        </ion-icon>

      </div>

    </div>

  </div>

</ion-content>


<!-- <ion-content fullscreen class="login-page">
  <div class="page-wrapper">
    <div class="top-wrapper" [class.hide-top]="isKeyboardOpen">
      <img src="assets/images/icon.png" class="logo">
      <h2 class="title">Welcome To Super Assist</h2>
      <p class="subtitle">Sign in to continue</p>
      <img src="assets/images/login-page-icon.avif" class="illustration">
    </div>
    <div class="form-wrapper">
      <div class="field">
        <label>Email Address</label>
        <div class="input-wrapper">
          <ion-input type="email" [(ngModel)]="login_data.username"></ion-input>
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <div class="input-wrapper password-wrapper">
          <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="login_data.password"></ion-input>
          <ion-icon class="eye" (click)="togglePassword()" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </div>
      </div>
      <div class="row">
        <div class="forgot">
          Forgot password?
        </div>
      </div>
      <div class="login-btn" (click)="onLogin()">
        Log in
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-content> -->