<!-- <ion-header class="profile-header">
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" class="back" (click)="onBack()"></ion-icon>
    <div class="title">Profile</div>
  </ion-toolbar>
</ion-header> -->
<ion-header class="profile-header" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="onBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- PROFILE IMAGE -->
  <div class="profile-top">
    <!-- <img src="assets/images/Prasenjit_Chanda.png" class="profile-img" *ngIf="!selectedImage.name"> -->
    <img [src]="currentUser.BUSINESS_LOGO" class="profile-img" *ngIf="!selectedImage.name">
    <img [src]="selectedImage.data" alt="" class="profile-img" *ngIf="selectedImage.name">
    <div class="edit-text" (click)="changeProfilePicture()">
      Select Photo
    </div>
    
  </div>
  <!-- GAP -->
  <div class="gap"></div>
  <!-- DETAILS -->
  <div class="details">
    <div class="field">
      <label>Full Name</label>
      <div *ngIf="!isEdit">{{myProfileData.full_name}}</div>
      <input *ngIf="isEdit" [(ngModel)]="user.full_name">
    </div>
    <div class="divider"></div>
    <div class="field">
      <label>Email</label>
      <div *ngIf="!isEdit">{{myProfileData.email}}</div>
      <input *ngIf="isEdit" [(ngModel)]="user.email">
    </div>
   
  </div>
</ion-content>

<!-- FOOTER BUTTONS -->
<div class="footer">
  <!-- VIEW MODE -->
  <div *ngIf="!isEdit" class="logout-btn" (click)="logout()">
    Logout
  </div>
  <!-- EDIT MODE -->
  <div *ngIf="isEdit" class="edit-btns">
    <div class="cancel" (click)="cancelEdit()">Cancel</div>
    <div class="save" (click)="save()">Save</div>
  </div>
</div>