<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" side="start" >
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header >  <!--(click)="goToProfile()"-->
            <ion-row>
              <ion-col size="3" class="home-header-img"> <!--ion-text-center -->
                 <!-- <img src="{{ displayProfileData.avatar }}" *ngIf="displayProfileData.avatar" width="215" height="215"> -->
                 <img src="assets/imgs/avtar.png" alt="Profile" width="215" height="215" *ngIf="!displayProfileData.avatar">
              </ion-col>
              <ion-col size="9">
                <!-- <p class="name-text">{{currentUser?.ar_name}}</p>
                <p class="mail-text">{{currentUser?.ar_email}}</p> -->
                <p class="name-text">Prasenjit Chanda</p>
                <p class="mail-text">prasenjit@dynamicvishva.in</p>
              </ion-col>
            </ion-row>
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" >
            <ion-item lines="none" (click)="openPage(p)" *ngFor="let p of appPages" routerDirection="root" [class.selected]="selectedPath === p.url"  detail="false" >
              <div [ngClass]="selectedPath===p.url?'circle-selected-container':'circle-container'">
                <ion-icon slot="start" size="small" name="{{p.icon}}" [ngClass]="selectedPath===p.url?'icon-color':''"></ion-icon>
              </div>
              <ion-label [ngClass]="selectedPath===p.url?'label-color':''" style="margin-left: 20px;">{{''+p.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </ion-list>
        <ion-list id="labels-list">
          <ion-item lines="none" (click)="doLogout()" [class.selected]="selectedPath === '/logout'">
            <div [ngClass]="selectedPath==='/logout'?'circle-selected-container':'circle-container'">
              <ion-icon slot="start" size="small" name="log-out-outline" [ngClass]="selectedPath==='/logout'?'icon-color':''"></ion-icon>
            </div>
            <ion-label [ngClass]="selectedPath==='/logout'?'label-color':''" style="margin-left: 20px;">logout</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
    <ion-tabs  #myTabs (ionTabsDidChange)="getSelectedTab()">
      <ion-tab-bar slot="bottom" [selectedTab]="tab_name" *ngIf="tab_name =='home' || tab_name =='my-profile' || tab_name =='contact-detail' || tab_name =='contact-list' || tab_name =='my-orders' || tab_name =='add-project-lead' || tab_name =='project-lead-list' || tab_name =='kyc-verification' || tab_name =='language-setting' || tab_name =='passbook' || tab_name =='schemes-offers' ">
        <ion-tab-button tab="home">
          <img src="assets/images/chat.png" class="footer-icon">
          <ion-label class="footer-label">Chats</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="contact-list">
          <img src="assets/images/contact.png" class="footer-icon">
          <ion-label class="footer-label">Contacts</ion-label>
        </ion-tab-button>

        
    
        <ion-tab-button tab="my-profile">
          <img src="assets/images/setting.png" class="footer-icon">
          <ion-label class="footer-label">Settings</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-split-pane>
</ion-app>
