<ion-content
  class="forgot-password-page"
  [fullscreen]="true"
  [scrollY]="true"
>

  <div class="page-wrapper">

    <!-- =========================================
         LOGO
         ========================================= -->
    <div class="brand-container">

      <img
        src="assets/images/super-assist-logo.png"
        alt="Super Assist"
        class="brand-logo"
      >

    </div>


    <!-- =========================================
         MAIN CONTENT
         ========================================= -->
    <div class="forgot-content">

      <!-- TITLE -->
      <h1 class="page-title">
        Forgot Password?
      </h1>


      <!-- DESCRIPTION -->
      <p class="page-description">
        Enter your email address and we'll send you a<br class="desktop-break">
        link to reset your password.
      </p>


      <!-- =========================================
           EMAIL INPUT
           ========================================= -->
      <div class="field">

        <div class="input-wrapper">

           <img src="assets/images/mail.png" alt="Swap Task" class="ture-icon-img" style="width: 18.9999px; height: 14.9999px; opacity: 1;" />
          <ion-input
            type="email"
            inputmode="email"
            autocomplete="email"
            placeholder="e.g. user@example.com"
            [(ngModel)]="forgot_data.email"
          >
          </ion-input>

        </div>

      </div>


      <!-- =========================================
           SEND RESET LINK BUTTON
           ========================================= -->
      <button
        type="button"
        class="reset-btn"
        (click)="onSendResetLink()"
        [disabled]="isLoading"
      >

        <span>
          {{ isLoading ? 'Sending...' : 'Send Reset Link' }}
        </span>

        <ion-icon
          name="arrow-forward-outline">
        </ion-icon>

      </button>


      <!-- =========================================
           REMEMBER PASSWORD
           ========================================= -->
      <div class="remember-text">
        Remember your password?
      </div>


      <!-- =========================================
           BACK TO LOGIN
           ========================================= -->
      <div
        class="back-login"
        (click)="backToLogin()"
      >

        <ion-icon
          name="arrow-back-outline">
        </ion-icon>

        <span>
          Back to Login
        </span>

      </div>

    </div>


    <!-- =========================================
         SUCCESS MESSAGE
         ========================================= -->
    <div
      class="success-toast"
      *ngIf="showSuccessMessage"
    >

      <div class="success-icon">
        <ion-icon name="checkmark-outline"></ion-icon>
      </div>

      <div class="success-message">

        <div class="success-title">
          Check your inbox
        </div>

        <div class="success-description">
          A reset link has been sent to your email.
        </div>

      </div>

    </div>

  </div>

</ion-content>